:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg-light: hsl(0, 0%, 5%);
    --text-light: hsl(0, 0%, 90%);
    --text-dark: hsl(240, 5%, 70%);
    --action-link: hsl(203, 100%, 78%);
    --action-neutral: hsl(0, 0%, 10%);
    --action-danger: hsl(345, 100%, 41%);
    --action-success: hsl(137, 41%, 31%);
    --action-warning: hsl(39, 83%, 52%);
    --action-neutral-disabled: hsl(0, 0%, 40%);
    --action-danger-disabled: hsl(345, 100%, 20%);
    --action-success-disabled: hsl(137, 41%, 20%);
    --action-warning-disabled: hsl(39, 83%, 25%);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
}

h2 {
    font-size: 3rem;
    color: var(--text-light);
}

p {
    font-size: 1.2rem;
    color: var(--text-dark);
}

a {
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--action-link);
    transition: color 0.5s;
}

a:hover {
    color: var(--text-light);
}

.msg-danger {
    color: var(--action-danger);
}

.b-neutral {
    font-size: 1.2rem;
    color: var(--text-light);
    background-color: var(--action-neutral);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b-neutral:disabled {
    color: var(--text-dark);
    background-color: var(--action-neutral-disabled);
    cursor: not-allowed;
}

.b-danger {
    font-size: 1.2rem;
    color: var(--text-light);
    background-color: var(--action-danger);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b-danger:disabled {
    color: var(--text-dark);
    background-color: var(--action-danger-disabled);
    cursor: not-allowed;
}

.b-success {
    font-size: 1.2rem;
    color: var(--text-light);
    background-color: var(--action-success);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b-success:disabled {
    color: var(--text-dark);
    background-color: var(--action-success-disabled);
    cursor: not-allowed;
}

.b-warning {
    font-size: 1.2rem;
    color: var(--text-light);
    background-color: var(--action-warning);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b-warning:disabled {
    color: var(--text-dark);
    background-color: var(--action-warning-disabled);
    cursor: not-allowed;
}

.container {
    padding: 25px;
}

.navbar {
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-size: 1.25rem;
    margin: 0;
    padding: 25px;
}

.nav-list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-element {
    margin: 0 15px;
}

.nav-element a {
    text-decoration: none;
    color: var(--text-dark);
    transition: color 0.5s;
}

.nav-element a:hover {
    color: var(--text-light);
}

.nav-element a.active {
    text-decoration: none;
    color: var(--text-light);
}

.not-found-container {
    padding: 10%;
    font-size: 1.5rem;
}

.not-found-container h2 {
    font-size: 4rem;
    margin: 10px 0;
}

.not-found-container a {
    text-decoration: none;
    cursor: pointer;
    color: var(--action-link);
    transition: color 0.5s;
}

.not-found-container a:hover {
    color:  var(--text-light);
}

.home-container {
    padding: 25px;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
}

.auth-container {
    background-color: var(--bg-light);
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
}

.auth-container label {
    font-size: 1.25rem;
}

.auth-container input {
    font-size: 1.25rem;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.bookmark-container {
    padding: 25px;
}

.bookmark-card {
    display: inline-block;
    background-color: var(--bg-light);
    font-size: 1.15rem;
    width: 100%;
    max-width: 400px;
    margin: 25px;
    padding: 20px 50px;
    border-radius: 25px;
}

.bookmark-card p {
    color: var(--text-dark);
}

.bookmark-card a {
    text-decoration: none;
    cursor: pointer;
    color: var(--action-link);
    transition: color 0.5s;
}

.bookmark-container a:hover {
    color:  var(--text-light);
}
